@model MVC4Crud2.Models.ContactModels

@{
    ViewBag.Title = "GetAllTaskTypes";
}

<h2>GetAllTaskTypes</h2>
@{
   /* var repository = new ContentResult();
    var taskTypeList = repository.GetAllTaskTypes().Select(t => new {
        TaskTypeId = t.TaskTypeId,
        Activity = t.Activity
    });
    Json.Write(taskTypeList, Response.Output);
    * */
}
